{% extends 'blogs/authbase.html' %}
{% load static %}


{% block cssimports %}

    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    
{% endblock cssimports %}
    

{% block main %}

    <div class="form-container">
            <!-- Login Form -->
            <div class="form login active">
                <h2>Forgot Password</h2>
                <form action="" method="POST">
                  {% csrf_token %}
                    <div class="input-group">
                        <i class="bx bx-envelope"></i>
                        <input type="email" placeholder="Email" name="email" required>
                    </div>

                    <button type="submit" class="btn">Submit</button>

                    <p class="switch-form">Remembered Password? <a href="{% url 'blogs:login' %}" >Login</a></p>
                </form>
            </div>

        </div>
{% endblock main %}


{% block jsimports %}

<script src="{% static 'js/auth.js' %}"></script>
    
{% endblock jsimports %}
    

 