{% extends 'blogs/authbase.html' %}
{% load socialaccount %}

{% load static %}


{% block cssimports %}

    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    
{% endblock cssimports %}
    

{% block main %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="form-container">
        <!-- Login Form -->
        <div class="form login active mt-3">
            <h2>Login</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <i class="bx bx-envelope"></i>
                    <input type="email" placeholder="Email" name="email" required>
                </div>

                <div class="input-group">
                    <i class="bx bx-lock"></i>
                    <input type="password" placeholder="Password" name="password" class="password" required>
                    <i class='bx bx-hide eye-icon'></i>
                </div>

                <div class="forgot-password">
                    <a href="{% url 'blogs:forgot' %}">Forgot Password?</a>
                </div>

                <button type="submit" class="btn">Login</button>

                <p class="switch-form">Don't have an account? <a href="{% url 'blogs:register' %}">Sign up</a></p>
            </form>
        <a href="{% provider_login_url 'google' %}" class="btn btn-danger">
            <i class="bi bi-google"></i> Sign in with Google
        </a>

        </div>
    </div>
</div>
{% endblock main %}


{% block jsimports %}

<script src="{% static 'js/auth.js' %}"></script>
    
{% endblock jsimports %}
    
