
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <!-- Google Font - Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <!-- Login Form -->
            <div class="form login active">
                <h2>Reset Password</h2>
                <form action="">
                  {% csrf_token %}
                <h3>We have sent password reset instructions in your email. Yhe link expires in 10 minutes</h3>
                </form>
            </div>

        </div>
    </div>

    <!-- JavaScript -->
    <script src="{% static 'js/auth.js' %}"></script>
</body>
</html>
